@media (max-width: 1500px) {
  li.location.disabled,
  li.numberPhone.disabled {
    display: none;
  }
}

@media (max-width: 860px) {
  .header-info {
    padding: 10px 20px;
  }
} 

@media (max-width: 1070px) {
  .header-info {
    flex-direction: column;
    padding: 10px 10px;
  }
  
  .info-open-establishment {
    margin-bottom: 10px;
  }
}