
@media (max-width: 860px) {
  .header-info {
    padding: 10px 20px;
  }
} 

@media (max-width: 1070px) {
  .header-info {
    flex-direction: column;
    padding: 10px 10px;
  }
  
  .info-open-establishment {
    margin-bottom: 10px;
  }
  
  .info-location-numberPhone {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .info-location-numberPhone ul li {
    margin-right: 15px;
  }
  
  .info-location-numberPhone ul li {
    margin-left: 0;
  }
}

@media (max-width: 660px) {
  .info-location-numberPhone {
    font-size: 11px;
    margin-bottom: 5px;
  }
  .info-location-numberPhone ul li i.bx {
    font-size: 20px;
  }
}

@media (max-width: 585px) {
  .info-location-numberPhone {
    font-size: 8px;
    font-weight: 400;
  }
  .info-location-numberPhone ul li i.bx {
    font-size: 15px;
  }
}