.team {
  height: 100vh;
  background-color: var(--color-Gray);
  position: relative;
  text-align: center;  
}

.team img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 287px;
}

.team .title h1 {
  position: relative;
}

.form-select-location {
  position: relative;
  top: -40px;
}

.form-select-location form select {
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--color-Golden);
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-select-location form select:hover {
  box-shadow: 0 0 10px var(--color-Golden);
}

.container-profiles {
  display: flex;
  position: relative;
  justify-content: center;
  top: 98px;
}

.container-profiles .box-profiles{
  display: flex;
}

.container-profiles .btn-arrow-carousel {
  display: none;
  align-content: center;
}

.container-profiles .btn-arrow-carousel i.bx{
  background-color: var(--color-Yellow);
  padding: 6px;
  color: var(--color-Gray);
  border-radius: 50%;
  transition: .2s;
  margin: 0;
}

.container-profiles .btn-arrow-carousel i.bx:hover{
  cursor: pointer;
  box-shadow: 0 0 10px var(--color-Golden);
  transform: scale(1.1);
}

.container-profiles .profile {
  position: relative;
  background: var(--color-GrayLight);
  max-width: 320px;
  border-radius: 35px;
  margin: 0 40px;
  text-align: center;
  transition: .3s;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.container-profiles .profile:hover {
  transform: scale(1.05);
  box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.562);
}

.container-profiles .profile.displayON {
  display: block;
}

.container-profiles .profile.displayOFF {
  display: none;
}

.container-profiles .profile img {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.562);
  margin-bottom: 5px;
  top: -85px;
  left: 70px;
}

.container-profiles .profile h2 {
  margin-top: 130px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-Golden);
}

.container-profiles .profile h3 {
  font-size: 12px;
  margin: 10px 0 8px 0;
  color: var(--color-GoldenLight);
}

.container-profiles .profile nav {
  margin-bottom: 50px;
}

.container-profiles .profile nav ul  {
  display: flex;
  justify-content: center;
}

.container-profiles .profile nav ul li {
  margin: 0 5px;
}

.container-profiles .profile nav ul li a i.bx{
  border-radius: 50%;
  color: var(--color-GoldenLight);
  box-shadow: 0 0 10px var(--color-Shadow);
  padding: 4px;
  transition: .2s;
}

.container-profiles .profile nav ul li a i.bx:hover{
  transform: scale(1.2);
}

.container-profiles .profile p {
  background-color: var(--color-GoldenLight);
  background-color: #525151;
  color: var(--color-GrayDark);
  font-size: 15px;
  font-weight: 500;
  min-height: 200px;
  text-align: justify;
  hyphens: auto;
  padding: 20px;
  border-radius: 0 0 35px 35px;
}