@media (max-width: 700px) {
  .contact {
    height: 390px;
  }

  .contact .container-text .location p,
  .contact .container-text .opening-hours p,
  .contact .container-text .copyright p,
  .contact .container-text .developerBy p {
    width: 380px;
    margin: 0 auto;
    margin-bottom: 5px;
  }
}