@font-face {
  font-family: 'Mochary';
  src: url(../../../assets/font/mochary/Mochary.ttf);
}

.price-and-service {
  width: 100%;
  height: 100vh;
  background: var(--color-BlueDark);
}

.title {
  text-align: center;
  padding: 100px 0 60px 0;
  font-family: 'Anton SC';
  font-size: 19px;
  color: var(--color-Yellow);
  letter-spacing: 5px;
}

.container-cards {
  display: flex;
  justify-content: space-evenly;
}

.container-cards ul {
  display: flex;
  flex-direction: column;  
  width: 100%;
  align-items: center;
}

.box-cards-left ul li,
.box-cards-right ul li {
  position: relative;
  display: flex;
  justify-content: space-around;
  min-width: 460px;
  min-height: 40px;
  background: var(--color-Blue);
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
  transition: .3s;
  z-index: 1;
}

.container-cards ul li:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.568);
  background: var(--color-BlueLight);
}

.container-cards ul li img {
  width: 115px;
  height: 115px;
  margin: 5px;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  box-shadow: 0px 17px 20px -10px rgba(0, 0, 0, 0.692);
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 10px;
}

.container-cards ul li h1 {
  color: var(--color-Yellow);
  font-family: 'Anton SC';
  font-size: 21px;
  letter-spacing: .5px;
}

.box-cards-left ul li p,
.box-cards-right ul li p {
  text-align: justify;
  align-self: center;
  color: rgba(255, 255, 255, 0.541);
  width: 320px;
  hyphens: auto;
  font-size: 14px;
  margin-right: 10px;
}

.container-cards ul li nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.container-cards ul li nav a button {
  background: var(--color-Yellow);
  color: var(--color-BlueDark);
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid var(--color-Yellow);
  box-shadow: 0 0 10px var(--color-Yellow);
  transition: .2s;
  padding: 15px;
  width: 130px;
  border-radius: 25px;
}

.container-cards ul li nav a .btn-more-options {
  font-size: 12px;
  border: 1px solid var(--color-Yellow);
  background-color: transparent;
  color: var(--color-Yellow);
  box-shadow: none;
}

.container-cards ul li nav a .btn-more-options:hover {
  box-shadow: inset 0 0 10px var(--color-Shadow);
}


.container-cards ul li nav a button:hover {
  box-shadow: none;
  cursor: pointer;
}

.box-card-middle ul{
  height: 100%;
}

.box-card-middle ul li {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 350px;
  transform: scale(1.05);
  background: var(--color-Yellow);
  text-align: center;
  justify-content: space-evenly;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
  transition: .3s;
  box-shadow: 0 0 15px var(--color-Yellow);
}

.box-card-middle ul li:hover {
  background: var(--color-Yellow);
  box-shadow: none;
  transform: scale(1.03);
}

.box-card-middle ul li h1 {
  color: var(--color-Blue);
  font-family: 'Mochary';
  font-size: 45px;
  letter-spacing: normal;
}

.box-card-middle ul li p {
  color: var(--color-BlueDark);
  text-align: justify;
  hyphens: auto;
  align-self: center;
  margin: 0 20px 15px 20px;
  line-height: 21px;
}

.box-card-middle ul li img {
  box-shadow: 0 0 20px var(--color-Shadow);
}

.box-card-middle ul li nav a{
  margin: auto;
  width: 80%;
}

.box-card-middle ul li nav a button{
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--color-Blue);
  box-shadow: none;
  border-color: var(--color-Blue);
  color: var(--color-GoldenLight);
}

.box-card-middle ul li nav a button:hover{
  background-color: var(--color-BlueLight);
  box-shadow: 0 0 10px var(--color-BlueLight);
}

.box-card-middle ul li nav a button.btn-more-options{
  border-color: var(--color-BlueLight);
  color: var(--color-BlueLight);
}

.box-card-middle ul li nav a button.btn-more-options:hover{
  background-color: transparent;
}


.box-card-middle ul li nav label {
  display: flex;
  justify-content: center;
  color: var(--color-BlueLight);
  font-size: 9px;
  font-weight: 600;
}

/* .box-cards-left ul li nav .btn-service-label label,
.box-cards-right ul li nav .btn-service-label label {
  display: flex;
  justify-content: center;
  color: var(--color-Yellow);
  font-size: 11px;
  margin-bottom: 2px;
  font-weight: 600;
} */

.box-cards-left ul li .box-popUp-PriceInPlan,
.box-cards-right ul li .box-popUp-PriceInPlan {
  opacity: 0;
  position: absolute;
  background: var(--color-GrayBlue);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 20px var(--color-Shadow);
  top: -40px;
  align-self: center;
  max-height: 54px;
  transition: .4s;
}

.box-cards-left ul li .box-popUp-PriceInPlan.hovered,
.box-cards-right ul li .box-popUp-PriceInPlan.hovered {
  opacity: 1;
}

.box-cards-left ul li .box-popUp-PriceInPlan p,
.box-cards-right ul li .box-popUp-PriceInPlan p {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 12px;
  width: 136px;
  max-height: 17px;
}

.box-cards-left ul li .box-popUp-PriceInPlan p span.noPlan,
.box-cards-right ul li .box-popUp-PriceInPlan p span.noPlan {
  opacity: .6;
  text-decoration: line-through;
}