.scheduling {
  height: 100vh;
  background: var(--color-BlueDark);
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.container-scheduling {
  background: var(--color-Blue);
  padding: 15px 30px 30px 30px;
  border-radius: 15px;
  min-width: 800px;
}

.subtitle {
  color: var(--color-Yellow);
  font-weight: bold;
  text-align: center;
  font-family: 'Anton SC';
  letter-spacing: .1px;
}

hr {
  margin: 10px 0 30px 0;
}

.container-scheduling hr {
  margin-bottom: 40px;
}

.partials-scheduling {
  display: flex;
  justify-content: space-between;
}

.left-partial form label  {
  font-size: 14px;
  color: var(--color-White);
  font-weight: 600;
}

.left-partial form .box-user-info  {
  margin-bottom: 15px;
}

.left-partial form .box-user-info input {
  width: 322px;
  height: 35px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 5px 0 16px 0;
}

.left-partial form .box-request-subscriber-plan {
  margin: 35px 0;
}

.left-partial form .box-request-subscriber-plan .radio-container {
  display: flex;
  align-items: center;
}

.left-partial form .box-request-subscriber-plan input[type='radio'] {
  display: none;
}

.custom-radio {
  border: 1px solid var(--color-White);
  width: 15px;
  height: 15px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  position: relative;
}

.custom-radio,
span {
  transition: 0.3s ease;
  color: var(--color-White);
}

.custom-radio span {
  content: '';
  width: 5px;
  height: 5px;
  background: var(--color-White);
  border-radius: 50%;
  position: absolute;
  left: 3.5px;
  top: 4px;
}

input[type='radio']:checked + .custom-radio {
  border-color: var(--color-Yellow);
}

input[type='radio']:checked + .custom-radio span {
  background: var(--color-Yellow);
}

.left-partial form .box-request-subscriber-plan .label-yes-no {
  margin-left: -15px;
  padding: 0 15px 0px 19px;
  cursor: pointer;
  z-index: 1;
}

.box-day-hour p {
  margin-top: 3px;
  font-size: 13px;
  font-weight: 600;
  color: var(--color-Yellow);
}

.box-day-hour .day-hour {
  display: flex;
  align-items: center;
}

.box-day-hour .day-hour label {
  margin-right: 5px;
}

.box-day-hour .day-hour input {
  height: 25px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  
}

.box-day-hour .day-hour input#date {
  margin-right: 15px;
}

input:invalid + span:after {
  content: "✖";
  padding-left: 5px;
}

input:valid + span:after {
  content: "✓";
  padding-left: 5px;
}

.text-description {
  font-size: 14px;
  color: var(--color-White);
  font-weight: 600;
  margin: 0 0 3px 8px;
}

.right-partial .preview-service .box-services-select ul,
.container-checkout .box-service-preview ul {
  max-height: 148px;
  min-height: 84px;
  min-width: 345px;
  overflow-x: hidden;
  background-color: var(--color-BlueDarkSoft);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 7px;
}

.right-partial .preview-service .box-services-select ul {
  max-height: 212px;
}

.right-partial .preview-service .box-services-select ul li.service,
.container-checkout .box-service-preview ul li.service {
  display: flex;
  transition: .1s;
}

.right-partial .preview-service .box-services-select ul li.service:hover,
.container-checkout .box-service-preview ul li.service:hover {
  background: var(--color-BlueLight);
  border-radius: 5px;
  cursor: default;
}

.right-partial .preview-service .box-services-select ul li.service .info-service {
  display: flex;
  align-items: center;
  margin: 7px;
  width: 230px;
}

.right-partial .preview-service .box-services-select ul li.service .info-service button {
  background: transparent;
  border: none;
  opacity: 0.6;
  transition: .2s;
  height: 22px;
  width: 22px;
}

.right-partial .preview-service .box-services-select ul li.service .info-service button:hover {
  cursor: pointer;
  opacity: 1;
}

.right-partial .preview-service .box-services-select ul li.service .info-service button i {
  font-size: 22px;
}

.right-partial .preview-service .box-services-select ul li.service .info-service img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 5px 0 10px;
}

.right-partial .preview-service .box-services-select ul li.service .info-service .text p.title-text,
.container-checkout .box-service-preview ul li.service .text p.title-text {
  color: var(--color-Yellow);
  font-weight: 600;
  font-size: 15px;
}

.right-partial .preview-service .box-services-select ul li.service .info-service .text p.sub-text,
.container-checkout .box-service-preview ul li.service .text p.sub-text {
  color: var(--color-sample-text);
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}

.right-partial .preview-service .box-services-select ul li.service .price-service,
.container-checkout .box-service-preview ul li.service .price-service {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.right-partial .preview-service .box-services-select ul li.service .price-service p,
.container-checkout .box-service-preview ul li.service .price-service p {
  color: var(--color-Blue);
  font-weight: 600;
  font-size: 13px;
  background-color: var(--color-Yellow);
  padding: 6px 10px;
  margin-right: 7px;
  border-radius: 20px;
}

.right-partial .preview-service .options-services-select {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}

.right-partial .preview-service .options-services-select a {
  background-color: var(--color-BlueDarkSoft);
  color: var(--color-sample-text);
  text-transform: lowercase;
  border-radius: 25px;
  border: none;
  font-weight: 400;
  font-size: 12px;
  padding: 5px 15px 7px 15px;
  width: 170px;
  transition: .3s;
}

.right-partial .preview-service .options-services-select a:hover {
  color: var(--color-White);
  transform: scale(1.05);
  cursor: pointer;
}

.right-partial .finish-box-scheduling {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-partial .finish-box-scheduling button,
.container-checkout .box-finish-scheduling button {
  width: 240px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid var(--color-Yellow);
  transition: .3s;
}

.right-partial .finish-box-scheduling button.concluded,
.container-checkout .box-finish-scheduling button {
  background-color: var(--color-Yellow);
  box-shadow: 0 0 10px var(--color-Yellow);
  color: var(--color-BlueDark);
  font-weight: 600;
}

.right-partial .finish-box-scheduling button.concluded:hover,
.container-checkout .box-finish-scheduling button:hover {
  box-shadow: none;
  cursor: pointer;
}

.right-partial .finish-box-scheduling button.cancel {
  color: var(--color-Yellow);
  background-color: transparent;
}

.right-partial .finish-box-scheduling button.cancel:hover {
  cursor: pointer;
  box-shadow: inset 0 0 15px var(--color-BlueDark);
}

.container-arrow {
  display: flex;
  align-items: center;
  position: relative;
}

.container-arrow i {
  font-size: 70px;
  position: absolute;
  left: -25px;
  animation: arrowAnim 1s infinite alternate ease-in-out;
}

@keyframes arrowAnim {
  0% { transform: translateX(-5px); opacity: .5; }
  100% { transform: translateX(5px); opacity: .9; }
}

.container-checkout {
  background: var(--color-Blue);
  padding: 15px 30px 30px 30px;
  border-radius: 15px;
  min-width: 460px;
}

.container-checkout .box-service-preview {
  margin-bottom: 20px;
}

.container-checkout .box-service-preview ul li.service {
  display: flex;
  justify-content: space-between;
}

.container-checkout .box-service-preview ul li.service .info-service {
  display: flex;
  align-items: center;
  margin: 7px;
  width: 210px;
}

.container-checkout .box-service-preview ul li.service .info-service img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.container-checkout .box-info-scheduling {
  margin-bottom: 10px;
}

.container-checkout .box-info-scheduling .container-info {
  display: flex;
  background: var(--color-BlueDarkSoft);
  border-radius: 10px;
  padding: 17px;
  justify-content: space-around;
}

.container-checkout .box-info-scheduling .container-info .info-left {
  margin-right: 20px;
}

.container-checkout .box-info-scheduling .container-info .info-left p,
.container-checkout .box-info-scheduling .container-info .info-right p {
  margin-bottom: 5px;
  color: var(--color-Yellow);
  font-size: 15px;
  font-weight: 600;
}

.container-checkout .box-info-scheduling .container-info .info-left p span,
.container-checkout .box-info-scheduling .container-info .info-right p span {
  color: var(--color-sample-text);
  font-size: 14px;
  font-weight: 350;
}

.container-checkout .box-total-price {
  display: flex;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
}

.container-checkout .box-total-price p {
  background: var(--color-BlueDarkSoft);
  width: 120px;
  padding: 5px 10px 7px 10px;
  border-radius: 10px;
  color: var(--color-Yellow);
  font-size: 15px;
  font-weight: 600;
}

.container-checkout .box-total-price p span {
  color: var(--color-sample-text);
  font-size: 14px;
  font-weight: 300;
}

.container-checkout .box-finish-scheduling {
  display: flex;
  justify-content: center;
}