@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

:root {
  --color-Blue: #0d3e69;
  --color-BlueDark: #021b2f;
  --color-BlueLight: #135c9c;
  --color-Yellow: #fed35b;
  --color-Golden: #e6ca7d;
  --color-GoldenDark: #977656;
  --color-GoldenLight: #fcf0cf;
  --color-White: #ffffff;
  --color-Black: #000000;
  --color-Shadow: #04142296;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth
}

body {
  font-family: "Open Sans", sans-serif;
}

ul li {
  list-style-type: none;
}

h1, h2 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--color-GoldenLight);
  transition: .2s;
}

a:hover {
  color: var(--color-Golden);
}

span {
  color: var(--color-Golden);
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--color-BlueDark);
}

::-webkit-scrollbar-thumb {
  background: var(--color-Golden);
  border: 2px solid var(--color-BlueDark);
  border-radius: 5px;
}
