@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --color-BlueDark: #021b2f;
  --color-Golden: #e6ca7d;
  --color-GoldenLight: #fcf0cf;
  --color-White: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-GoldenLight);
}

